# IDE and editors
.idea/
.vscode/

# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Production builds
/build
dist/

# Environment files
.env
*token.json*
*credentials.json*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem

# Deployment
.vercel

# Build caches
.cache/
